<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta http-equiv="Content-Type" content="text/html;  charset=utf-8" />
   
		<link rel="icon" type="image/png" href="assets/images/favicon.png" />
		<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,500,300italic|Open+Sans:400,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
		<script type="text/javascript" src="assets/js/abstract.js"></script>
				
		<title>Seminars on Automatsion of the Plateau de Saclay</title>
	</head>
	
	<body>
		
		<div class="sem_main">
			<div id="logos"; style="text-align:center; padding-top:3em;">
				<table border="0" width="90%">
						<tr> 
							<td width="25%"> <a href="http://www.lss.supelec.fr/"> <img src="assets/images/L2S_logo.png" alt="L2S" style="height:70px;border:0"> </a> </td>
							<td width="25%"> <a href="http://www.icode-institute.fr/"> <img src="assets/images/icode_logo.png" alt="iCODE" style="height:90px;border:0"> </a> </td>
							<td width="25%"> <a href="http://www.cnrs.fr/"><img src="assets/images/cnrs_logo.png" alt="CNRS" style="height:90px;border:0"> </a> </td>
						</tr>
				</table>
			</div>
			
			<br>
			<br>

			<h1>
			S&eacute;minaire d'Automatique du Plateau de Saclay
			<!--Seminars on Automation of the Plateau de
			Saclay-->
			</h1>

			<div class="sem_content">
				<div class="sem_content_intro">
					<p>Cette s&eacute;rie de
				s&eacute;minaires vise &agrave; faire conna&icirc;tre, dans la communaut&eacute; d'iCODE,
				  les avanc&eacute;es r&eacute;centes concernant les domaines de l'automatique et de la th&eacute;orie du contr&ocirc;le, ainsi que des th&eacute;matiques &eacute;mergentes corr&eacute;l&eacute;es.
				  <br>
				  <br>
				  This series of seminars aims at disseminating throughout the iCODE community the recent advances concerning the domains of automation and mathematical control theory, as well as related emerging domains.</p>
					<p style="font-style: normal; font-size: 18px;"> 
                    <strong> Organisers </strong>: N. Amini, D. Prandi<br>
                    <strong> Contact </strong>: sem-auto@lss.supelec.fr
                    </p>
				</div>
        <p><a href="assets/seminar-2015.html">Jump to last year seminars.</a></p>


				<div class="sem_content_body">
					  <table class="sem_table">
            {% assign j = 0 %}
            {% for post in site.categories.seminar %}
        {% if post.second_seminar_title %}
    <tr>
        <td rowspan="2" style="text-align:center; width:170px;" class="sem_table_td_bottom">
            <!--DATE-->
            <strong>{{ post.date | date: "%-dth %B %Y" }}</strong></br>
            <!--PLACE-->
            {{ post.location }}
        </td>

        <!--First Seminar-->
        <td style="text-align:center; vertical-align:top; width:90px;">
            <!--TIME-->	{{ post.first_seminar_time }}
        </td>
        <td>
            <!--TITLE-->
            <strong>{{ post.first_seminar_title }}</strong><br>
            <!--SPEAKER-->
            {% if post.first_seminar_speaker_url %}
            <a href="{{ post.first_seminar_speaker_url }}">
            {% endif %}
                <em>{{ post.first_seminar_speaker }}</em></a><br>
                <!--ABSTRACT--> <script>document.write(insertAbstractToggle("{{ post.first_seminar_abstract }}", {{ j }}))</script>
                {% assign j = j | plus: 1 %}
        </td>
    </tr>
    <tr>
        <!--Second Seminar-->
        <td class="sem_table_td_bottom" style="text-align:center; vertical-align:top; width:90px;">
            <!--TIME-->	{{ post.second_seminar_time }}
        </td>
        <td class="sem_table_td_bottom">
            <!--TITLE-->
            <strong>{{ post.second_seminar_title }}</strong><br>
            <!--SPEAKER-->
            {% if post.second_seminar_speaker_url %}
            <a href="{{ post.second_seminar_speaker_url }}">
            {% endif %}
                <em>{{ post.second_seminar_speaker }}</em></a><br>
                <!--ABSTRACT--> <script>document.write(insertAbstractToggle("{{ post.second_seminar_abstract }}", {{ j }}))</script>
                {% assign j = j | plus: 1 %}
        </td>
    </tr>
    {% else %}
    <tr>
    <td rowspan="1" style="text-align:center; width:170px;" class="sem_table_td_bottom">
        <!--DATE-->
        <strong>{{ post.date | date: "%-dth %B %Y" }}</strong></br>
      <!--PLACE-->
        {{ post.location }}
    </td>

		<!--First Seminar-->
		<td class="sem_table_td_bottom" style="text-align:center; vertical-align:top; width:90px;"> 
				<!--TIME-->	{{ post.first_seminar_time }}
		</td>
		<td class="sem_table_td_bottom">
				<!--TITLE-->	
        <strong>{{ post.first_seminar_title }}</strong><br>
        <!--SPEAKER-->
        {% if post.first_seminar_speaker_url %}
        <a href="{{ post.first_seminar_speaker_url }}">
            {% endif %}
            <em>{{ post.first_seminar_speaker }}</em></a><br>
            <!--ABSTRACT--> <script>document.write(insertAbstractToggle("{{ post.first_seminar_abstract }}", {{ j }}))</script>
            {% assign j = j | plus: 1 %}
		</td>
						</tr>
            {% endif %}
            {% endfor %}
					  </table>
	      </div>
      </div>
    </div>
	</body>
</html>
 
